@model PersonelKayit.Models.Lokasyon

@{
    ViewData["Title"] = "Lokasyon Detayları";
}

<div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="display-4">Lokasyon Detayları</h1>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                <i class="bi bi-pencil-fill"></i> Düzenle
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Listeye Dön
            </a>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ParentId)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ParentId)
                </dd>
            </dl>
        </div>
    </div>
</div> 